<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
<localRepository>C:\Users\ITCae\.m2\repository</localRepository>
<pluginGroups/>
<proxies/>
<servers>
<server>
<id>MuleRepository2</id>
<username>caelius.nexus</username>
<password>HLnpGjYH</password>
</server>
<server>
<id>anypoint-connected-app</id>
<username>~~~Client~~~</username>
<password>${connectedAppId}~?~${connectedAppSecret}</password>
</server>
</servers>
</settings>